@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="col-md-10 offset-md-1" style="border: 1px solid black;margin-top: 30px;padding-bottom: 40px;padding-left: 60px;padding-right: 60px; background-image: url(~/Images/1.jpg);">
    <section>
        <form id="account" method="post">
            <div class="login-form-icon text-center pt-5">
                <i class="fas fa-user-circle fa-9x text-secondary"></i><h1>Login</h1>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="form-group">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
                <div class="form-group">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles{
    <link rel="stylesheet" href="~/css~/css/login.css" />
}