@model UniversityManagementSystem.Models.Exam
@{
    ViewData["Title"] = "Edit";
     Layout = null;
}
<form asp-action="AddOrEdit" asp-route-id="@Model.ExamId" onsubmit="return jQuaryAjaxPost(this)" autocomplete="off" class="forma">
    <div class="p-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h3>@ViewBag.mgs</h3>
@if(Model.ExamId == 0){
                            
                            <div class="mt-4" style="font-size: 20px; font-family: serif;">
                                <div id="step-1">
                                   <div class="row">
                                        <div class="col-md-6" > <label asp-for="Subject" class="control-label" style="font-size:16px"></label>
                                                                <input type="text" asp-for="Subject" class="form-control" placeholder="" required style="border: 1px solid black;font-size: 15px; font-weight: bold;"> 
                                                                <span asp-validation-for="Subject" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">  <label asp-for="ProfessorId" class="control-label" style="font-size:16px"></label>
                                                                <select asp-for="ProfessorId" class ="form-control" asp-items="ViewBag.ProfessorId" style="border: 1px solid black;font-size: 15px; font-weight: bold;" ></select> 
                  
                                        </div>
                                    </div>
                                    
                                </div>
                                <div id="step-3">
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label asp-for="BranchId" class="control-label" style="font-size:16px"></label>
                                            <select asp-for="BranchId" class ="form-control" asp-items="ViewBag.BranchId" style="border: 1px solid black;font-size: 15px; font-weight: bold;"></select> 
                                        </div>
                                        <div class="col-md-6">  <label asp-for="ProgramUniversityId" class="control-label" style="font-size:16px"></label>
                                                                <select asp-for="ProgramUniversityId" class ="form-control" asp-items="ViewBag.ProgramUniversityId" style="border: 1px solid black;font-size: 15px; font-weight: bold;" ></select> 
                                        </div>
                                    </div>
                                </div>
                        </div>
}
else{
   <input type="hidden" asp-for="ExamId" />
                            <div class="mt-4" style="font-size: 20px; font-family: serif;">
                                <div id="step-1">
                                   <div class="row">
                                        <div class="col-md-6" > <label asp-for="Subject" class="control-label" style="font-size:16px"></label>
                                                                <input type="text" asp-for="Subject" class="form-control" required style="border: 1px solid black;font-size: 15px; font-weight: bold;"> 
                                                                <span asp-validation-for="Subject" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6"> <div class="col-md-6">  <label asp-for="ProfessorId" class="control-label" style="font-size:16px"></label>
                                                                <select asp-for="ProfessorId" class ="form-control" asp-items="ViewBag.ProfessorId" style="border: 1px solid black;font-size: 15px; font-weight: bold;" ></select> 
                                        </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div id="step-3">
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label asp-for="BranchId" class="control-label" style="font-size:16px"></label>
                                            <select asp-for="BranchId" class ="form-control" asp-items="ViewBag.BranchId" style="border: 1px solid black;font-size: 15px; font-weight: bold;"></select> 
                                        </div>
                                        <div class="col-md-6">  <label asp-for="ProgramUniversityId" class="control-label" style="font-size:16px"></label>
                                                                <select asp-for="ProgramUniversityId" class ="form-control" asp-items="ViewBag.ProgramUniversityId" style="border: 1px solid black;font-size: 15px; font-weight: bold;" ></select> 
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
}
        <br/>
        <div class="form-group">
           <a asp-action="Index" class="btn" style="background-color:grey; color:white">Cancel</a>
            <input type="submit" class="btn" style="background-color:green; color:white" value="Register" />
        </div>
    </div>
</form>
