@model IEnumerable<UniversityManagementSystem.Models.Student>
@using UniversityManagementSystem.Models;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="row">
    <div class="col-6">
        <h4 class="titulli1">Student List</h4>
    </div>
    <div class="col-6 text-end">
        <a onclick="showInPopup('@Url.Action("AddOrEdit","Students",null,Context.Request.Scheme)','Add New')" class="btn" style="cursor:pointer; background-color:green; color:white;font-size:15px">Add Student</a>
    </div>
</div>
<br />

<div id="view-all">
    @await Html.PartialAsync("_StudentsTablePartialView", Model)
</div>


@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>
}
